/*--------------- Individual Cards ----------------*/

#card1 {
    background-image: url(../images/placeholder.jpg);
}

#card2 {
    background-image: url(../images/header.jpg);
}

#card3 {
    background-image: url(../images/placeholder.jpg);
}

/*--------------- General ----------------*/

.cards {
    display: flex;
    justify-content: center;
}

.card-container {
    width: 70vmin;
    max-width: 350px;
    height: 90vmin;
    max-height: 450px;
    background-color: #1e1e1e;
    border-radius: 3%;
    position: relative;
    margin: 2%;
}

.card-information a {
    text-decoration: underline;
    display: block;
    float: right;
}

.card-information a:hover {
    color: #2B7A78;
}

.card-image {
    height: 75%;
    width: 100%;
    border-radius: 3%;
    background-position: center;
    background-size: cover;
}

.card-title {
    height: 25%;
    width: 100%;
    overflow: auto;
}

.card-title *, .card-information * {
    text-align: left;
    margin: 5% 10% 10% 10%;
    padding: 0 !important;
}

.card-information {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    background-color: rgba(30, 30, 30, 0.7);
    opacity: 0;
    transition: 0.4s;
    overflow: auto;
    box-shadow: 2px black;
}

/*--------------- Effects ----------------*/

.card-information:hover {
    opacity: 100;
}

.card-container:hover {
    box-shadow: 0 0.1vh 1vh 0.5vh;
    color: rgba(255, 255, 255, 0.5)
}

/*--------------- Responsive ----------------*/

@media(max-width: 800px) {
    .cards {
            flex-direction: column;
            align-items: center;
        }

    .cards h3 {
        font-size: 4vmin;
    }
    
    .cards p, .cards a {
        font-size: 3.5vmin;
    }
}