/*--------------- Individual Cards ----------------*/

#card1 {
    background-image: url(../images/placeholder.jpg);
}

#card2 {
    background-image: url(../images/header.jpg);
}

#card3 {
    background-image: url(../images/placeholder.jpg);
}

/*--------------- Cards ----------------*/
.cards {
    display: flex;
    justify-content: center;
}

.card-container {
    width: 30vw;
    height: 30vw;
    max-width: 350px;
    max-height: 450px;
    background-color: #1e1e1e;
    border-radius: 3%;
    position: relative;
    margin: 2%;
    color: white;
}

.card-container p, .card-container a {
    font-size: clamp(1rem, 2.6vw, 1rem);
}

.card-container h3 {
    font-size: clamp(1.5rem, 2.6vw, 2rem);
}

.card-information a {
    text-decoration: underline;
    display: block;
    float: right;
    color: rgba(243, 239, 254, 1);
}

.card-information a:hover {
    color: #ff4778;
}

.card-image {
    height: 75%;
    width: 100%;
    border-radius: 3%;
    background-position: center;
    background-size: cover;
}

.card-title {
    height: 25%;
    width: 100%;
    overflow: auto;
}

.card-title *, .card-information * {
    text-align: left;
    margin: 5% 10% 10% 10%;
    padding: 0 !important;
}

.card-information {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    background-color: rgba(30, 30, 30, 0.7);
    opacity: 0;
    transition: 0.4s;
    overflow: auto;
    box-shadow: 2px black;
}

/*--------------- Effects ----------------*/

.card-information:hover {
    opacity: 100;
}

/*--------------- Responsive ----------------*/

@media(max-width: 800px) {
    .cards {
            flex-direction: column;
            align-items: center;
        }

    .card-container {
        width: 77vw;
        height: 100vw;
        background-color: #1e1e1e;
        border-radius: 3%;
        position: relative;
        margin: 2%;
    }
}