/*--------------- Individual Cards ----------------*/

#card1 {
    background-image: url(../images/placeholder.jpg);
}

#card2 {
    background-image: url(../images/header.jpg);
}

#card3 {
    background-image: url(../images/placeholder.jpg);
}

/*--------------- Cards ----------------*/
/*--- Container ---*/

.card-container {
    background-color: #1e1e1e;
    border-radius: 3%;
    position: relative;
    margin: 2%;
    color: white;
}

.card-container-dimensions {
    width: clamp(75px, 75vw, 337.5px);
    height: clamp(100px, 100vw, 450px);
}

.card-container p, .card-container a {
    font-size: clamp(1rem, 2.6vw, 1rem);
}

.card-container h3 {
    font-size: clamp(1.5rem, 2.6vw, 2rem);
}

/*--- Front of card ---*/

.card-image {
    height: 70%;
    width: 100%;
    border-radius: 3%;
    background-position: center;
    background-size: cover;
}

.card-label {
    height: 30%;
    width: 100%;
    overflow: auto;
}

.card-label > div {
    margin: 2.5% 5%;
}

.card-project-further-info {
    display: flex;
    justify-content: space-between;
}

/*--- Hover information ---*/

.card-information a {
    text-decoration: underline;
    display: block;
    float: right;
    color: rgba(243, 239, 254, 1);
}

.card-information a:hover {
    color: rgba(251, 129, 34, 1);
}

.card-information * {
    text-align: left;
    padding: 0 !important;
}

.card-information {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    border-radius: 3%;
    background-color: rgba(30, 30, 30, 0.7);
    opacity: 0;
    transition: 0.4s;
    overflow: auto;
    box-shadow: 2px black;
    padding: 5%;
}



/*--------------- My Projects ----------------*/

.project-filters {
    margin-bottom: 10%;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 337.5px));
    grid-gap: clamp(25px, 5vw, 50px);
    width: 100%;
    justify-content: center;
}

/*--------------- Effects ----------------*/

.card-information:hover {
    opacity: 100;
}
