/* color scheme: https://www.schemecolor.com/black-and-green.php */

/* Fonts */

@font-face {
    font-family: 'DefaultFont';
    src: url('../fonts/Encode_Sans_Expanded/EncodeSansExpanded-Regular.ttf');
}

/* General */

body * {
    font-family: 'DefaultFont', Fallback, sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2 {
    padding: 5px 0px;
}


/* Header */

.index {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,146,0,0.9) 75%, rgba(0,0,0,0.9));
}

.index::before {
    content: "";
    background-image: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.05;
}

.introduction {
    width: 90%;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction h1 {
    font-size: 70px;
}

.introduction h2 {
    font-size: 35px;
}

.introduction-content {
    text-align: right;
    padding: 0px 5%;
}

.portrait {
    width: 400px;
}

.contactbtn {
    background-color: transparent;
    border: 2px solid white;
    display: block;
    float: right;
    margin-top: 20px;
    padding: 15px;
}

.contactbtn:hover {
    background-color: blue;
}

/* Navbar */

.navbar {
    display: flex;
    font-size: 25px;
    padding: 3% 6%;
}

.navbar-options {
    flex: 1;
    text-align: right;
}

.logo {
    flex: 0.2;
    text-align: center;
}

.socials {
    flex: 0.15;
    text-align: center;
}

.socials i {
    padding: 0 5px;
}

.navbar a {
    position: relative;
    display: inline-block;
}

.navbar a:before {
    content: "";
    height: 1px;
    width: 0%;
    background-color: white;
    display: block;
    margin: auto;
}

.navbar a:hover:before {
    width: 100%;
    transition: 0.15s ease-in;
}

.navbar-options li {
    display: inline-block;
    padding: 0px 15px;
}