/* color scheme: https: //visme.co/blog/website-color-schemes/ 24. */

/* Fonts */

@font-face {
    font-family: 'DefaultFont';
    src: url('../fonts/Encode_Sans_Expanded/EncodeSansExpanded-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

/*--------------- General ----------------*/

html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body * {
    font-family: 'Roboto', Fallback, sans-serif;
    text-decoration: none;
    list-style: none;
    letter-spacing: 2px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

hr {
    margin: auto;
    width: 25%;
    height: 3px;
    border: none;
}

h1 {
    font-size: clamp(1.5rem, 10vw, 6rem);
}

h2 {
    font-size: clamp(0.6rem, 4vw, 2.4rem);
}

p {
    font-size: clamp(1rem, 2.6vw, 1.6rem);
}

/*--------------- Scroll Bar ----------------*/

html::-webkit-scrollbar {
    width: 2vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #DEF2F1;
}

html::-webkit-scrollbar-thumb:active {
    background-color: #F3FFFF;
}


html::-webkit-scrollbar-track {
        background-color: #2B2B2B;
}

/*--------------- Buttons ----------------*/

.btn-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-default {
    background-color: transparent;
    border: 2px solid;
    color: #FEFFFF;
    padding: 15px;
    margin-top: 30px;
    display: block;
    align-self: center;
}

.contact-btn {
    color: #FEFFFF;
    border-color: #FEFFFF;
}

.btn-card {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.btn-default:hover {
    background-color: rgba(243, 255, 255, 0.25);
}

.btn-about:hover {
    background-color: rgba(58, 175, 169, 0.1);
}


/*--------------- Colours ----------------*/

.dark { /* rgba(23, 37, 42, 1) */
    background-color: #17252A;
}

.dark-text {
    color: #17252A;
}

.little-dark { /* rgba(43, 122, 120, 1) */
    background-color: #108b87;
}

.little-dark-text {
    color: #108b87;
}

.middle { /* rgba(58, 175, 169, 1) */
    background-color: #3AAFA9;
}

.middle-text {
    color: #3AAFA9;
}

.light { /* rgba(222, 242, 241, 1) */
    background-color: #DEF2F1;
}

.light-text {
    color: #DEF2F1;
}

.very-light { /* rgba(243, 255, 255, 1) */
    background-color: #F3FFFF;
}

.very-light-text {
    color: #F3FFFF;
}


/*--------------- Header ----------------*/

.index {
    width: 100%;
    min-width: 150px;
    height: 100vh;
    min-height: 350px;
    position: relative;
    background-position: center;
    background-size: contain;
    position: relative;
}


/*--------------- Navbar ----------------*/

#navbar {
    display: flex;
    padding: 1.5% 4%;
    margin-bottom: 300px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: rgba(23, 37, 42, 1);
    font-size: 1.5rem;
}

#navbar * {
    color: white;
}

#navbar a:before {
    content: "";
    height: 1px;
    width: 0%;
    background-color: #3AAFA9;
    display: block;
    margin: auto;
}

#navbar a:hover:before {
    width: 100%;
    transition: 0.15s ease-in;
}

#navbar a {
    position: relative;
    display: inline-block;
}

.navbar-options {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: right;
}

.navbar-options li {
    display: inline-block;
    padding: 0px 15px;
}

.logo {
    flex: 0.2;
    text-align: center;
}

#navbar .socials {
    flex: 0.15;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-aroud;
}

.socials i {
    padding: 0 10px;
}

.menu-crossx {
    width: 100%;
    max-width: 30px;
    color: white;
    padding: 15% 0;
    display: none;
}

.menu-bars {
    display: none;
}

/*--------------- Introduction ----------------*/

.portrait {
    max-width: 400px;
    max-height: 500px;
}

.introduction {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
}

.introduction h1 {
    padding: 5% 0;
}

.introduction h2:hover {
    color: #2B7A78;
    transition: 0.25s;
}

.introduction-content {
    text-align: left;
    padding: 0px 50px;
    color: #FEFFFF;
}

#coder {
    font-family: 'CodeFont';
}

/*--------------- Page Content ----------------*/

.section {
    width: 100%;
}

.content {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.section-padding {
    padding: 100px 0;
}

.information p {
    padding: 30px;
}

.information h1 {
    padding: 0 30px 30px;
}

.about-content * {
    color: #3AAFA9;
}

.project-content * {
    color: #F3FFFF;
}

.footer-content * {
    color: #F3FFFF;
}

/*--------------- Footer ----------------*/

.footer .socials, .footer p {
    padding: 15px;
}

.footer .socials i:hover {
    color: #3AAFA9;
}


/*--------------- Responsive ----------------*/

@media(max-width: 1150px) or (max-height: 600px) {
    #navbar {
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 100%;
        position: fixed;
        right: 0;
        z-index: 1;
        display: none;
        overflow-y: auto;
        direction: ltr;
        justify-content: none;
        padding: 10% 0;
        direction: rtl;
        background-color: rgba(23, 37, 42, 0.9);
    }

    .navbar-options {
        flex: 0;
        padding: 5% 0;
    }

    #navbar .socials {
        order: 2;
        flex-direction: column;
        flex: 0;
        padding: 10% 0;
    }

    #navbar .socials a {
        padding: 15% 0;
    }

    .navbar-options li {
        display: block;
        text-align: center;
        padding: 15% 0%;
    }

    .logo {
        padding: 5% 0;
        flex: 0;
    }
    
    .menu-crossx {
        display: block;
        flex: 0;
        padding: 5% 0;
        width: 4.5vw;
    }

    .menu-bars {
        width: 100%;
        max-width: 30px;
        display: block;
        margin-right: 5%;
        margin-top: 5%;
        position: fixed;
        right: 0;
    }
    
    .introduction-content {
        padding: 0 5%;
    }

    .portrait {
        width: 65%;
        min-width: 100px;
    }

    #navbar::-webkit-scrollbar {
        width: 1vw;
    }

    #navbar::-webkit-scrollbar-thumb {
        background-color: #DEF2F1;
    }

    #navbar::-webkit-scrollbar-thumb:active {
        background-color: #F3FFFF;
    }


    #navbar::-webkit-scrollbar-track {
        background-color: #2B2B2B;
    }
}

@media(max-width: 480px) {
    
    .introduction {
        flex-direction: column-reverse;
    }

    .introduction-content {
        padding-top: 5%;
        text-align: center;
    }

    .btn-container-small-screen {
        display: flex;
        justify-content: center;
    }

    .contactbtn {
        margin-top: 5%;
    }

    .portrait {
        width: 50%;
    }
}