/* color scheme: https://www.schemecolor.com/black-and-green.php */

/* Fonts */

@font-face {
    font-family: 'DefaultFont';
    src: url('../fonts/Encode_Sans_Expanded/EncodeSansExpanded-Regular.ttf');
}

@font-face {
    font-family: 'CodeFont';
    src: url('../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}

/*--------------- General ----------------*/

body * {
    font-family: 'DefaultFont', Fallback, sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2 {
    padding: 5px 0px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 30px;
}

/*--------------- ID Classes ----------------*/


/*--------------- Header ----------------*/

.index {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,146,0,0.9) 75%, rgba(0,0,0,0.9)), url(../images/header.jpg);
    background-position: center;
    background-size: contain;
    position: relative;
    font-size: 15px;
}


/*--------------- Navbar ----------------*/

#navbar {
    display: flex;
    padding: 1.5% 4%;
    background-color: rgba(30, 30, 30, 0.7);
    margin-bottom: 300px;
    font-size: 1.5rem;
}


#navbar a:before {
    content: "";
    height: 1px;
    width: 0%;
    background-color: #008001;
    display: block;
    margin: auto;
}

#navbar a:hover:before {
    width: 100%;
    transition: 0.15s ease-in;
}

#navbar a {
    position: relative;
    display: inline-block;
}

.navbar-options {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: right;
}

.navbar-options li {
    display: inline-block;
    padding: 0px 15px;
}

.logo {
    flex: 0.2;
    text-align: center;
}

.socials {
    flex: 0.15;
    text-align: center;
}

.socials i {
    padding: 0 5px;
}

.menu-bars {
    width: 100%;
    max-width: 30px;
    position: absolute;
    right: 3.5%;
    top: 3.5%;
    display: none;
}

.menu-crossx {
    width: 100%;
    max-width: 30px;
    color: white;
    padding: 15% 0;
    display: none;
}

/*--------------- Introduction ----------------*/

.introduction {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    font-size: 1rem;
}

.introduction h1 {
    font-size: 4em;
}

.introduction h2 {
    font-size: 1.75em;
}

.introduction-content {
    text-align: left;
    padding: 0px 50px;
}

.portrait {
    width: 400px;
}

.contactbtn {
    background-color: transparent;
    border: 2px solid white;
    float: left;
    padding: 15px;
    margin-top: 30px;
}

.contactbtn:hover {
    background-color: rgba(30, 30, 30, 0.5);
}

#coder {
    font-family: 'CodeFont';
}

/*--------------- Responsive ----------------*/

@media(max-width: 880px) {
    #navbar {
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 1;
        padding-top: 5%;
        display: none;
    }

    .menu-bars, .menu-crossx {
        display: block;
    }

    .navbar-options li {
        display: block;
        text-align: center;
        padding: 15% 0%;
    }

    .navbar-options {
        flex: 0.4;
        align-items: center;
    }

    .logo {
        flex: 0;
        padding: 10% 0;
    }

    .socials {
        order: 1;
        flex: 0;
    }

    .socials a {
        display: block;
        padding: 20% 0;
    }

    .introduction * {
        font-size: 0.75rem;
    }
    
    .portrait {
        width: 65%;
    }
    
    .introduction-content {
        padding: 0 5%;
    }
}

@media(max-width: 740px) {
    .introduction * {
        font-size: 0.6rem;
    }
}

@media(max-width: 600px) {
    .introduction * {
        font-size: 0.4rem;
    }

    #navbar {
        font-size: 1.2rem;
    }

    .menu-crossx {
        width: 20px;
    }
}

@media(max-width: 480px) {
    .introduction {
        flex-direction: column-reverse;
    }

    .introduction-content {
        padding-top: 5%;
        text-align: center;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }

    .contactbtn {
        margin-top: 5%;
    }
}

@media(max-width: 380px) {
    #navbar {
        font-size: 0.8rem;
    }

}