/* color scheme: https://www.schemecolor.com/black-and-green.php */

/* Fonts */

@font-face {
    font-family: 'DefaultFont';
    src: url('../fonts/Encode_Sans_Expanded/EncodeSansExpanded-Regular.ttf');
}

@font-face {
    font-family: 'CodeFont';
    src: url('../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}

/*--------------- General ----------------*/

body * {
    font-family: 'DefaultFont', Fallback, sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2 {
    padding: 5px 0px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 30px;
}


/*--------------- Header ----------------*/

.index {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,146,0,0.9) 75%, rgba(0,0,0,0.9)), url(../images/header.jpg);
    background-position: center;
    background-size: contain;
    position: relative;
    font-size: 15px;
}

/*--------------- Introduction ----------------*/

.introduction {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    font-size: 1rem;
}

.introduction h1 {
    font-size: 4em;
}

.introduction h2 {
    font-size: 1.75em;
}

.introduction-content {
    text-align: left;
    padding: 0px 50px;
}

.portrait {
    width: 400px;
}

.contactbtn {
    background-color: transparent;
    border: 2px solid white;
    display: block;
    float: left;
    margin-top: 20px;
    padding: 15px;
}

.contactbtn:hover {
    background-color: rgba(30, 30, 30, 0.5);
}

#coder {
    font-family: 'CodeFont';
}

/*--------------- Navbar ----------------*/

.navbar {
    display: flex;
    padding: 1.5% 4%;
    background-color: rgba(30, 30, 30, 0.7);
    margin-bottom: 300px;

}

.navbar-options {
    flex: 1;
    text-align: right;
}

.logo {
    flex: 0.2;
    text-align: center;
}

.socials {
    flex: 0.15;
    text-align: center;
}

.socials i {
    padding: 0 5px;
}

.navbar a {
    position: relative;
    display: inline-block;
}

.navbar a:before {
    content: "";
    height: 1px;
    width: 0%;
    background-color: #008001;
    display: block;
    margin: auto;
}

.navbar a:hover:before {
    width: 100%;
    transition: 0.15s ease-in;
}

.navbar-options li {
    display: inline-block;
    padding: 0px 15px;
}

.fa-bars, .fa-xmark {
    display: none !important; 
}


/*--------------- Responsive ----------------*/

@media(max-width: 900px) {
    html {
        font-size: 10px;
    }
    
    .introduction {
        font-size: 0.9rem;
    }

    .portrait {
        width: 350px;
    }

    .navbar {
        flex-direction: column;
        width: 40vw;
        height: 100%;
        position: absolute;
        right: -400px;
        z-index: 1;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        display: none;
    }

    .fa-xmark {
        display: block !important;
        order: -1;
        padding: 10%;
    }

    .fa-bars {
        display: block !important;
        float: right;
        padding: 10px;
    }

    .navbar-options {
        text-align: center;
        padding: 5% 0px;
        flex: 0;
    }

    .navbar-options li {
        display: block;
        padding: 15% 0px;
    }

    .logo {
        padding: 10px 0px;
        flex: 0;
    }

    .socials {
        order: 1;
    }

    .socials a {
        display: block;
        padding: 20% 0px;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 8px;
    }

    .portrait {
        width: 300px;
    }
}

@media(max-width: 600px) {
    html {
        font-size: 6px;
    }
    .introduction {
        flex-direction: column-reverse;
    }

    .portrait {
        width: 250px;
    }
}

@media(max-width: 480px) {
    html {
        font-size: 4px;
    }

    .portrait {
        width: 200px;
    }

    .navbar {
        font-size: 1em;
    }
}

@media(max-width: 320px) {
    html {
        font-size: 3px;
    }

    .portrait {
        width: 150px;
    }

    .navbar {
        font-size: 0.5em;
    }
}