/* color scheme: https: //visme.co/blog/website-color-schemes/ 24. */

/* Fonts */

@font-face {
    font-family: 'Railway';
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

/*--------------- General ----------------*/

html {
    font-size: 16px;
    scroll-behavior: smooth;
    color: white;
}
body * {
    font-family: 'Railway', Fallback, sans-serif;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

hr {
    margin: auto;
    width: 25%;
    height: 3px;
    border: none;
}

h1 {
    font-size: clamp(1.5rem, 10vmin, 6rem);
    font-weight: 900;
}

h2 {
    font-size: clamp(0.8rem, 4vmin, 2.4rem);
    font-weight: 500;
}

p {
    font-size: clamp(1rem, 2.6vmin, 1.6rem);
    font-weight: 100;
}

/*--------------- Scroll Bar ----------------*/

html::-webkit-scrollbar {
    width: 2vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #DEF2F1;
}

html::-webkit-scrollbar-thumb:active {
    background-color: #F3FFFF;
}


html::-webkit-scrollbar-track {
        background-color: #2B2B2B;
}

/*--------------- Buttons ----------------*/

.btn-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-default {
    background-color: transparent;
    border: 2px solid;
    color: #1e1e1e;
    padding: 20px;
    display: block;
    align-self: center;
}

.btn-card {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.btn-default:hover {
    background-color: rgba(30, 30, 30, 0.1);
}

.btn-about {
    color: #f3effe;
}

.btn-about:hover {
    background-color: rgba(243, 239, 254, 0.25);
}


/*--------------- Colours ----------------*/

.color1 { /* rgba(243, 239, 254, 1) */
    background-color: #f3effe;
}

.color1-text {
    color: #f3effe;
}

.color2 { /* rgba(255, 71, 120, 1) */
    background-color: #ff4778;
}

.color2-text {
    color: #ff4778;
}

.color3 { /* rgba(247, 162, 255, 1) */
    background-color: #F7A2FF;
}

.color3-text {
    background-color: #F7A2FF;
}


.black {
    background-color: #1e1e1e;
}

.black-text {
    color: #1e1e1e;
}

.white {
    background-color: white;
}

.white-text{
    color: white;
}

/*--------------- Text ----------------*/

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/*--------------- Header ----------------*/

.index {
    width: 100%;
    min-width: 150px;
    height: 100vh;
    min-height: 350px;
    position: relative;
    background-position: center;
    background-size: contain;
    position: relative;
}


/*--------------- Navbar ----------------*/

#navbar {
    display: flex;
    padding: 1.5% 4%;
    margin-bottom: 300px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: rgba(30, 30, 30, 1);
    font-size: 1.5rem;
    font-weight: 900;
}

#navbar * {
    color: white;
}

#navbar a:before {
    content: "";
    height: 1px;
    width: 0%;
    background-color: #ff4778;
    display: block;
    margin: auto;
}

#navbar a:hover:before {
    width: 50%;
    transition: 0.3s ease-in;
}

.navbar-options a {
    position: relative;
    display: inline-block;
}

.navbar-options {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: right;
}

.navbar-options li {
    display: inline-block;
    padding: 0px 15px;
}

.logo {
    flex: 0.2;
    text-align: center;
}

#navbar .socials {
    flex: 0.15;
    text-align: center;
    display: flex;
    justify-content: center;
}

#navbar .socials a {
    padding: 0 5%;
}

.menu-crossx {
    width: 100%;
    color: white;
    padding: 15% 0;
    display: none;
}

.menu-bars {
    display: none;
}

/*--------------- Introduction ----------------*/

.portrait {
    max-width: 400px;
    max-height: 500px;
}

.introduction {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
}

.introduction h1 {
    padding: 5% 0; 
}

.introduction h2:hover {
    color: #ff7c9f;
    transition: 0.25s;
}

.introduction-content {
    text-align: left;
    padding: 0px 50px;
    color: #1e1e1e;
}

/*--------------- Page Content ----------------*/

.section {
    width: 100%;
}

.content {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.content-large{
    width: 90%;
}

.section-padding {
    padding: 5% 0;
}

.sub-section-padding {
    padding: 8% 0;
}

.information p {
    padding: 5%;
}

.information h1 {
    padding: 0 3% 3%;
}

/*--------------- About Me ----------------*/

.vertical-line {
    width: 1%;
    height: 100%;
    background-color: white;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

.about-section, .about-content-left, .about-content-right {
    display: flex;
    align-items: center;
}

.about-content-left, .about-content-right {
    flex: 0.8;
    margin: 0 2.5%;
    justify-content: center;
}

.about-title {
    flex: 0.2;
    position: relative;
}

.about-title-text {
    margin-right: 10%;
}

.about-img {
    width: clamp(50px, 40vmin, 400px);
}

.about-section h2 {
    font-size: clamp(1.5rem, 6vmin, 3rem);
    font-weight: 900;
    margin-bottom: 25%;
}

/*--------------- Graph ----------------*/

.graph-container {
    width: 100%;
    flex: 0.8;
    display: grid;
    grid-template-columns: 10% 90%;
}

.graph-content {
    border-left: 4px solid #1e1e1e;
    border-bottom: 4px solid #1e1e1e;
    padding-bottom: 5%;
}

.graph-bar {
    height: clamp(25px, 7.5vh, 80px);
    width: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    margin: 3% 0;
    background-color: #F7A2FF;
}

.graph-bar:hover {
    background-color: #ee45fd;
    transition: 0.3s ease-in-out;
}

#x-axis {
    grid-column: 2;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

#y-axis {
    text-align: right;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.graph-container h3 {
    font-size: clamp(0.8rem, 3vmin, 2.4rem);
}

#Cpp {
    width: 70%;
}

#Csharp {
    width: 70%;
}

#Jscript {
    width: 60%;
}

#Html {
    width: 80%;
}

#Css {
    width: 80%;
}

/*--------------- Footer ----------------*/

.footer p {
    font-size: clamp(0.85rem, 2.21vw, 1.36rem);
}

.footer p {
    padding-top: 2%;
    padding-bottom: 1%;
}

.footer .socials {
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: clamp(0.85rem, 2.21vw, 1.36rem);
}

.footer .socials a {
    padding: 0 .5%;
    color: white;
}

.footer .socials i:hover {
    color: #ff4778;
}

/*--------------- Responsive ----------------*/

@media(max-width: 1150px) or (max-height: 600px) {
    #navbar {
        flex-direction: column;
        width: 60vmin;
        height: 100vh;
        position: fixed;
        align-items: flex-start;
        justify-content: center;
        right: 0;
        z-index: 1;
        display: none;
        overflow-y: auto;
        direction: rtl;
        background-color: rgba(23, 37, 42, 0.9);
        font-size: clamp(0.75rem, 9vmin, 2.5rem);
        font-weight: 100;
        padding: 0 2% 0 0;
    }

    .navbar-options {
        flex: 0;
        width: 100%;
        margin: 10% auto;
    }

    #navbar .socials {
        order: 2;
        flex: 0;
        padding-right: 6%;
    }
    .logo {
        display: none;
    }

    .navbar-options li {
        display: block;
        padding: 5% 0%;
    }   
    .menu-crossx {
        display: block;
        width: clamp(1rem, 9vmin, 2.5rem);
        padding: 0;
        float: right;
    }

    .menu-bars {
        width: 100%;
        max-width: 30px;
        display: block;
        margin-right: 5%;
        margin-top: 5%;
        position: fixed;
        right: 0;
    }
    
    .introduction-content {
        padding: 0 5%;
    }

    .portrait {
        width: 65vmin;
        min-width: 100px;
    }

    #navbar::-webkit-scrollbar {
        width: 1vw;
    }

    #navbar::-webkit-scrollbar-thumb {
        background-color: #DEF2F1;
    }

    #navbar::-webkit-scrollbar-thumb:active {
        background-color: #F3FFFF;
    }


    #navbar::-webkit-scrollbar-track {
        background-color: #2B2B2B;
    }
}

@media(max-width: 720px) {
    .about-img {
        width: clamp(50px, 75vmin, 300px);
    }
    
    .about-content-left, .about-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-content-right {
        flex-direction: column-reverse;
    }

    .about-section * {
        text-align: center;
    }

    .about-section .vertical-line {
        display: none;
    }

    .graph-container {
        width: 80%;
    }
}

@media(max-width: 480px) {
    
    .introduction {
        flex-direction: column-reverse;
    }

    .introduction-content {
        padding-top: 5%;
        text-align: center;
    }

    .btn-container-small-screen {
        display: flex;
        justify-content: center;
    }

    .contactbtn {
        margin-top: 5%;
    }

    .portrait {
        width: 50vmin;
    }
}