
/* Fonts */

/* https: //fonts.google.com/specimen/Montserrat */

@font-face {
    font-family: 'Montserrat-extra-bold';
    src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-boldest';
    src: url('../fonts/Montserrat/static/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat-semi-bold';
    src: url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat-medium';
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-light';
    src: url('../fonts/Montserrat/static/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-extra-light';
    src: url('../fonts/Montserrat/static/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: 'Montserrat-lightest';
    src: url('../fonts/Montserrat/static/Montserrat-Thin.ttf');
}

/*--------------- General ----------------*/

html {
    font-size: 16px;
    scroll-behavior: smooth;
    color: white;
}
body * {
    font-family: 'Montserrat-regular', Fallback, sans-serif;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

hr {
    margin: auto;
    width: 25%;
    height: 1.5px;
    border: none;
}

h1 {
    font-size: clamp(1.5rem, 10vmin, 6rem);
    font-family: 'Montserrat-extra-bold';
}

h2 {
    font-size: clamp(0.8rem, 4vmin, 2.4rem);
    font-family: 'Montserrat-regular';
    letter-spacing: 5px;
}

p {
    font-size: clamp(1rem, 2.6vmin, 1.6rem);
    font-family: 'Montserrat-light';
}

.no-margin {
    margin: 0;
}

/*--------------- Scroll Bar ----------------*/

html::-webkit-scrollbar {
    width: 2vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #DEF2F1;
}

html::-webkit-scrollbar-thumb:active {
    background-color: #F3FFFF;
}


html::-webkit-scrollbar-track {
        background-color: #2B2B2B;
}

/*--------------- Buttons ----------------*/

.btn-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-default {
    background-color: transparent;
    border: 2px solid;
    color: #f3effe;
    padding: 20px 40px;
    align-self: center;
    font-size: clamp(1rem, 2.6vmin, 1.6rem);
    margin: 3.5%;
}

.btn-introduction {
    margin: 3% 0 !important;
}

.btn-card {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.btn-default:hover {
    background-color: rgba(255,255,255, 0.1);
}


/*--------------- Colours ----------------*/

.color1 {
    background-color: rgba(251, 129, 34, 1);
}

.color1-text {
    color: rgba(251, 129, 34, 1);
}

.color2 {
    background-color: rgba(29, 34, 40, 1);
}

.color2-text {
    color: rgba(29, 34, 40, 1);
}

.color3 {
    background-color: rgba(52, 58, 64, 1);
}

.color3-text {
    color: rgba(52, 58, 64, 1);
}



.black {
    background-color: #1e1e1e;
}

.black-text {
    color: #1e1e1e;
}

.white {
    background-color: white;
}

.white-text{
    color: white;
}

/*--------------- Text ----------------*/

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.extra-bold {
    font-family: 'Montserrat-extra-bold';
}

/*--------------- Header ----------------*/

.index {
    width: 100%;
    min-width: 150px;
    height: 100vh;
    min-height: 350px;
    position: relative;
    background-position: center;
    background-size: contain;
    position: relative;
}


/*--------------- Navbar ----------------*/

#navbar {
    display: flex;
    padding: 1.5% 4%;
    margin-bottom: 300px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: rgba(29, 34, 40, 1);
    font-size: 1.5rem;
    font-weight: 900;
}

#navbar * {
    color: white;
    letter-spacing: 2.5px;
}

#navbar a:before {
    content: "";
    height: 1px;
    width: 0%;
    background-color: rgba(251, 129, 34, 1);
    display: block;
    margin: auto;
}

#navbar a:hover:before {
    width: 50%;
    transition: 0.3s ease-in;
}

.navbar-options a {
    position: relative;
    display: inline-block;
}

.navbar-options {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: right;
}

.navbar-options li {
    display: inline-block;
    padding: 0px 15px;
}

.logo {
    flex: 0.2;
    text-align: center;
}

#navbar .socials {
    flex: 0.15;
    text-align: center;
    display: flex;
    justify-content: center;
}

#navbar .socials a {
    padding: 0 5%;
}

.menu-crossx {
    width: 100%;
    color: white;
    padding: 15% 0;
    display: none;
}

.menu-bars {
    display: none;
    z-index: 1;
}

/*--------------- Introduction ----------------*/

.portrait {
    max-width: 400px;
    max-height: 500px;
}

.introduction {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
}

.introduction-content {
    display: flex;
    flex-direction: column;
}

.introduction-content * {
    margin: 1.5% 0;
    text-align: right;
}

.introduction-content h2:hover {
    color: rgba(251, 129, 34, 1);
    transition: 0.25s;
}

.introduction-heading {
    text-align: center !important;
}

/*--------------- Page Content ----------------*/

.section {
    width: 100%;
}

.content {
    width: 80%;
    max-width: 1600px;
    margin: auto;
    text-align: center;
}

.content-large{
    width: 90%;
}

.section-padding {
    padding: clamp(50px, 5%, 150px) 0;
}

.sub-section,
.sub-section-left,
.sub-section-right {
    display: flex;
    align-items: center;
    position: relative;
}

.sub-section-left,
.sub-section-right {
    flex: 0.8;
    margin: 0 2.5%;
    justify-content: center;
}

.sub-section h2 {
    font-size: clamp(1.5rem, 6vmin, 3rem);
    font-weight: 900;
}

.sub-section-padding {
    padding: clamp(50px, 5%, 150px) 0;
}

.sub-section-text {
    margin-right: 10%;
}

.section-column {
    flex-direction: column;
}

.section-right-bottom {
    align-items: flex-end;
}

.section-left-top {
    align-items: flex-start;
}

.information > p {
    padding: 3%;
}

.information > h1 {
    padding: 0 3% 3%;
}

.vertical-line {
    width: 0.25%;
    background-color: white;
    align-self: stretch;
    margin-left: 2%;
}

/*--------------- About Me ----------------*/


.about-title {
    flex: 0.2;
    position: relative;
}


.about-img {
    width: clamp(25px, 40vmin, 400px);
}

/*--------------- Contact ----------------*/

.contact-information p {
    font-size: clamp(1rem, 2.6vmin, 1.6rem);
    word-break: break-all;
}

.contact-information {
    margin: 20px 0;
}

.contact-information h3 {
    margin: 15px 0;
}

.contact-information p {
    padding: 0;
}

.contact-socials {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.contact-socials i {
    font-size: clamp(25px, 5vw, 100px);
    color: rgba(251, 129, 34, 1);
    margin: 15% 0;
}

.contact-socials i:hover {
    color: rgba(251, 129, 34, 0.5);
}

/*--------------- Contact Form ----------------*/

.required::after {
    content: "*";
    color: rgba(251, 129, 34, 1);
    position: absolute;
    font-size: clamp(1.8rem, 2.6vmin, 2.4rem);
    top: -5px;
}

.contact-form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: clamp(15px, 5vw, 50px);
}

.contact-form * {
    background-color: transparent;
    color: white;
}

.contact-form-input input, .contact-form-message textarea, .contact-form-input select {
    padding: 10px;
    font-size: clamp(0.8rem, 2.6vmin, 1.2rem);
    border: 2px solid white;
}


.contact-form-input input, .contact-form-input select {
    width: 75%;
    height: clamp(20px, 10vw, 50px);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    position: relative;
    font-size: clamp(1.2rem, 2.6vmin, 1.5rem);
}

.contact-form-message {
    grid-column: span 2;
    overflow: auto;
}

.contact-form-submit {
    grid-column: span 2;
}

.contact-form-message textarea {
    width: 75%;
    height: clamp(50px, 20vw, 200px);
    text-align: left;
}

@media(max-width: 720px) {
    .contact-form {
        grid-template-columns: 1fr;
        width: 100%;
        grid-row-gap: clamp(15px, 10vw, 50px);
    }

    .contact-form * {
        grid-column: 1;
    }
}

/*--------------- Graph ----------------*/

.graph-container {
    flex: 0.8;
    display: grid;
    grid-template-columns: 10% 80%;
}

.graph-content {
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    padding-bottom: 5%;
}

.graph-bar {
    height: clamp(25px, 7.5vh, 80px);
    width: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    margin: 3% 0;
    background-color: rgba(251, 129, 34, 1);
}

#x-axis {
    grid-column: 2;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

#y-axis {
    text-align: right;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.graph-container h3 {
    font-size: clamp(0.8rem, 3vmin, 2.4rem);
}

#Cpp {
    width: 70%;
}

#Csharp {
    width: 70%;
}

#Jscript {
    width: 60%;
}

#Html {
    width: 80%;
}

#Css {
    width: 80%;
}

/*--------------- Footer ----------------*/

.footer p {
    font-size: clamp(0.85rem, 2.21vw, 1.36rem);
}

.footer p {
    padding-top: 2%;
    padding-bottom: 1%;
}

.footer .socials {
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: clamp(0.85rem, 2.21vw, 1.36rem);
}

.footer .socials a {
    padding: 0 .5%;
    color: white;
}

.footer .socials i:hover {
    color: rgba(251, 129, 34, 1);
}

/*--------------- Responsive ----------------*/

@media(max-width: 1150px) or (max-height: 600px) {
    #navbar {
        flex-direction: column;
        width: 60vmin;
        height: 100vh;
        position: fixed;
        align-items: flex-start;
        justify-content: center;
        right: 0;
        z-index: 1;
        display: none;
        overflow-y: auto;
        direction: rtl;
        background-color: rgba(29, 34, 40, 1);
        font-size: clamp(0.75rem, 9vmin, 2.5rem);
        font-weight: 100;
        padding: 0 2% 0 0;
    }

    #navbar * {
        letter-spacing: 0;
    }

    .navbar-options {
        flex: 0;
        width: 100%;
        margin: 10% auto;
    }

    #navbar .socials {
        order: 2;
        flex: 0;
        padding-right: 6%;
    }
    .logo {
        display: none;
    }

    .navbar-options li {
        display: block;
        padding: 5% 0%;
    }   
    .menu-crossx {
        display: block;
        width: clamp(1rem, 9vmin, 2.5rem);
        padding: 0;
        float: right;
    }

    .menu-bars {
        width: 100%;
        max-width: 30px;
        display: block;
        margin-right: 5%;
        margin-top: 5%;
        position: fixed;
        right: 0;
    }

    .portrait {
        width: 65vmin;
        min-width: 100px;
    }

    #navbar::-webkit-scrollbar {
        width: 1vw;
    }

    #navbar::-webkit-scrollbar-thumb {
        background-color: #DEF2F1;
    }

    #navbar::-webkit-scrollbar-thumb:active {
        background-color: #F3FFFF;
    }


    #navbar::-webkit-scrollbar-track {
        background-color: #2B2B2B;
    }
}

@media(max-width: 720px) {
    .about-img {
        width: clamp(50px, 75vmin, 300px);
    }

    .about-title h2 {
        margin: 0 0 15%;
    }
    
    .sub-section-left, .sub-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .sub-section-right {
        flex-direction: column-reverse;
    }

    .sub-section * {
        text-align: center;
    }

    .sub-section .vertical-line {
        display: none;
    }

    .graph-container {
        width: 80%;
    }

    .contact-socials {
        flex-direction: row;
    }

    .contact-socials a {
        padding: 10px;
    }
}

@media(max-width: 480px) {
    
    .introduction {
        flex-direction: column-reverse;
    }

    .introduction-content {
        margin-top: 5%;
    }

    .introduction-content * {
        text-align: center;
    }

    .btn-container-small-screen {
        display: flex;
        justify-content: center;
    }

    .contactbtn {
        margin-top: 5%;
    }

    .portrait {
        width: 50vmin;
    }
}