<!DOCTYPE html>
<html>
  <head>
    <title>Sam James</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fontawesome logos: https://fontawesome.com/-->
    <script
      src="https://kit.fontawesome.com/72dcaa571b.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="../javascripts/navbar.js"
      defer
    ></script>

    <link rel="stylesheet" href="../stylesheets/styles.css" />
    <link rel="stylesheet" href="../stylesheets/cards.css" />
  </head>

  <body>
    <!------------------ HEADER/NAVBAR ---------------------->

    <header class="index color3">
      <!-- header -->
      <div class="navigation">
        <nav id="navbar">
          <!-- navbar -->
          <img
            class="menu-crossx"
            src="../assets/ui/cross.png"
            alt="close menu"
            onclick="hideMenu()"
          />
          <a class="logo" href="index.html">SAM JAMES</a>
          <!-- logo -->
          <div class="socials">
            <!-- social logos-->
            <a href="#"><i class="fa fa-github" name="github"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-discord"></i></a>
          </div>
          <div class="navbar-options">
            <!-- selection navbar-->
            <ul>
              <li><a href="index.html">HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="projects.html">PROJECTS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </div>
        </nav>
        <img
          class="menu-bars"
          src="../assets/ui/bars.png"
          alt="menu bars"
          onclick="showMenu()"
        />
      </div>

      <!------------------ INTRODUCTION ---------------------->

      <div class="introduction">
        <div class="introduction-content">
          <!-- Introduction text-->
          <h1>Hi, I'm <i class="extra-bold color1-text">Sam</i></h1>
          <h2>Programmer</h2>
          <h2>Computer Scientist</h2>
          <h2>Software Engineer</h2>
          <div class="btn-container-small-screen">
            <!-- Button -->
            <button class="btn-default btn-introduction">Get in touch ></button>
          </div>
        </div>
        <!-- Photo of me-->
        <img class="portrait" src="../images/photo of me.png"alt="placeholder"/>
      </div>
    </header>

    <!------------------ ABOUT ME ---------------------->

    <section>
      <div class="section color2">
        <div class="content section-padding information white-text">
          <h1>A Little About Me</h1>
          <hr class="white">
          <p>
            Hi there, my name is Sam James, and I am currently a 2nd year BSc
            Computer Science student studying at Falmouth University. I have
            experince in programming and web design.
          </p>
          <div class="btn-container">
            <button class="btn-default btn-about">Find out more ></button>
          </div>
        </div>
      </div>

    <!------------------ PROJECTS ---------------------->

      <div class="section color3">
        <div class="content section-padding information white-text">
          <h1>Projects</h1>
          <hr class="white">
          <p>Check out some of my previous projects!</p>
          
          <%- include ("partials/cardgen") %>

          <div class="btn-container">
            <button class="btn-default btn-about">See More ></button>
          </div>

          </div>
        </div>

      <!------------------ FOOTER ---------------------->

      <footer class="section color2">
        <div class="content footer white-text">
          <p>Sam James Copyright 2022 ©</p>
          <div class="socials">
            <!-- social logos-->
            <a href="#"><i class="fa fa-github" name="github"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-discord"></i></a>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>
